/.ipynb_checkpoints
/Baden-Württemberg Antrag WP16_trace_start_days.svg
/Baden-Württemberg Antrag WP16_traces.svg
/Baden-Württemberg Antrag WP16_weekdays_activities.svg
/Berlin Antrag WP18_trace_start_days.svg
/Berlin Antrag WP18_traces.svg
/Berlin Antrag WP18_weekdays_activities.svg
/Brandenburg Antrag WP6_trace_start_days.svg
/Brandenburg Antrag WP6_traces.svg
/Brandenburg Antrag WP6_weekdays_activities.svg
/Export_badenWürttemberg_WP16.xml
/WP16_BadenWürttemberg_Gesetz.xes
/WP18_Berlin_Gesetz.xes
/WP6_Brandenburg_Gesetz.xes
/alphaMiner_net.svg
/berlin_vs_brandenburg.ipynb
/exploration.ipynb
/exportWP6_brandenburg.xml
/heuristicMiner_petri_net.svg
/inductiveMiner_net.svg
/log_exploration_badenWürttemberg.ipynb
/log_exploration_berlin copy.ipynb
/log_exploration_berlin.ipynb
/log_exploration_brandenburg.ipynb
/organized_badenWürttemberg_WP16.ipynb
/organized_berlin_WP18.ipynb
/organized_brandenburg_WP6.ipynb
/output.png
/pardok-wp18_berlin.xml
/perf_dfg.svg
/xesCreatorOriginal.ipynb